name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          cache: true

      - name: Install Go Overalls
        run: go install github.com/mattn/goveralls@latest

      - name: Install Go Lint
        run: go install golang.org/x/lint/golint@latest

      - name: Running Test Script
        run: make test
