name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.16

    - name: Install Go Overalls
      run: go get github.com/mattn/goveralls

    - name: Install Go Lint
      run: go get -u golang.org/x/lint/golint

    - name: Running Test Script
      run: make test
